<footer>
  <div>
    <p>Contact: info@bigbanana.com</p>
    <ul>
      <li><a href="/pages/about-us">About Us</a></li>
      <li><a href="/policies/shipping-policy">Shipping & Return Policy</a></li>
      <li><a href="/policies/refund-policy">Refund Policy</a></li>
      <li><a href="/policies/privacy-policy">Privacy Policy</a></li>
      <li><a href="/policies/terms-of-service">Terms of Service</a></li>
    </ul>
    <div>
      <a href="https://facebook.com">Facebook</a>
      <a href="https://instagram.com">Instagram</a>
      <a href="https://pinterest.com">Pinterest</a>
    </div>
    <p>&copy; 2025 - Big Banana</p>
  </div>
</footer>
