<section class="section-blue" style="padding:0.5em 0; border-bottom:1px solid #eee;">
  <div style="display:flex; justify-content:center; align-items:center; gap:1em; font-size:0.98em;">
    <span style="color:#888; margin-right:0.5em;">Filter by Size:</span>
    <a href="/collections/all?filter=size-2xl" class="button btn-outline" style="padding:0.2em 1em; font-size:0.98em; min-width:48px;">2XL</a>
    <a href="/collections/all?filter=size-3xl" class="button btn-outline" style="padding:0.2em 1em; font-size:0.98em; min-width:48px;">3XL</a>
    <a href="/collections/all?filter=size-4xl" class="button btn-outline" style="padding:0.2em 1em; font-size:0.98em; min-width:48px;">4XL</a>
    <a href="/collections/all?filter=size-5xl" class="button btn-outline" style="padding:0.2em 1em; font-size:0.98em; min-width:48px;">5XL</a>
    <a href="/collections/all?filter=size-6xl" class="button btn-outline" style="padding:0.2em 1em; font-size:0.98em; min-width:48px;">6XL</a>
    <a href="/collections/all" class="button btn-outline" style="padding:0.2em 1em; font-size:0.98em; min-width:48px; color:#888;">All</a>
  </div>
</section>
